.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px;
}

.gallery > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid ;
  
}

.gallery-item {
  position: relative;
}

/* Image hover style */
.gallery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.219); 
  border-radius: 8px;
  opacity: 0; 
  transition: opacity 0.3s; 
  z-index: 1; 
}

.gallery-item:hover::before {
  opacity: 1;
}

/* After images select style */
.select-gallery-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.219); 
  border-radius: 8px;
  opacity: 0.5; 
  z-index: 1; 
}




.img-item{
  border: 1px solid #b1afaf;
  border-radius: 8px;
}


.item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}


/* Checkbox  */
.select-checkbox {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px; 
  height: 15px;
  z-index: 20;
  
  
}
.select-block{
  display: block;
  position: absolute ;
  top: 5px;
  left: 5px;
  width: 15px; 
  height: 15px;
  z-index: 20;
 
}




.gallery-item:hover .select-checkbox {
  display: block;


}